{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
    <div class="row">
        <div class="text-center">
            <img src="/media/{{ product.image | media_folder_products }}" class="img-fluid">
        </div>
    </div>
    <div class="row ">
        <form class="form-horizontal"  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        <button class="btn btn-round form-control last">
            <a href="{% url 'admin_staff:categories' %}" class="">
                к категориям
            </a>
        </button>
    </div>

{% endblock %}