{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
{% endblock %}

{% block content %}
    <div class="hero-white">
        {% include 'includes/inc_main_menu.html' %}
    </div>
    <div class="details">
    {% include 'mainapp/includes/inc_category_menu.html' %}
    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img class="hot_img" src="/media/{{ product.image | media_folder_products}}">
            </div>
            <div class="slider-control">
                <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt="">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt="">
                        <div class="text"></div>
                    </a>
                </div>
                <div class="block">
                    <a href="#"><img src="/media/{{ product.image }}" alt="">
                        <div class="text"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="description">
            <h3 class="big-bold">{{ product.name }}</h3>
            <p class="price"> {{ product.price }} <span>руб</span></p>
            <a href="{% url 'basket:add' product.pk %}" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                {{ product.description }}
                {#            <p>Расположитесь комфортно.</p>#}
                {#            <p>Отличное качество материалов#}
                {#                позволит вам это.</p>#}
                {#            <p>Различные цвета</p>#}
                {#            <p>высочайший уровень#}
                {#                эргономики и прочность.</p>#}
            </div>
        </div>
    </div>
    {% if same_products %}
        {% include 'mainapp/includes/inc_same_products.html' %}
    {% endif %}
{% endblock %}
